html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ant-table table {
  font-size: 15px;
}

.ant-table-thead .ant-table-cell {
  background-color: #02b1b1;
}

.ant-table-tbody {
  background-color: #d1dfe3;
}

.ant-table-tbody > tr > td {
  height: 2px;
  padding: 2px;
}

.ant-table-thead > tr > th {
  height: 2px;
  padding: 2px;

}
