.form{
    padding: 15px 20px;
    margin: 15px 10px;
}
.campo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.campo div{
    width: 100%;
}
.textArea{
    align-items: flex-start;
}
.botones{
    display: flex;
    justify-content: center;
}